Repository rockfridrich/villa: changes, and which Codecov flags are due for each by the changed paths.
All: web, sdk, ui, api, contracts

docs(CLAUDE.txt): Update 'default network' to 'default target' and baseSepoliaBeta reference
  apps/developers/public/CLAUDE.txt
Due: none

fix(build): resolve developers app build failure and remove relay refs
  apps/developers/Dockerfile
  apps/developers/next.config.js
  apps/key/Dockerfile
Due: none

bump: version to v0.3.0-beta.1
  bun.lock
  package.json
  packages/sdk-react/package.json
  packages/sdk/package.json
Due: none

Merge version bump: resolve conflicts
  .beads/issues.jsonl
  .beads/sync-state.json
  .dockerignore
  Dockerfile
  bun.lock
  packages/sdk/src/iframe/bridge.ts
  packages/ui/package.json
  packages/ui/src/BottomSheet.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/Modal.tsx
  packages/ui/src/SheetDialog.tsx
  packages/ui/src/alert.tsx
  packages/ui/src/avatar.tsx
  packages/ui/src/backup/AuthCard.tsx
  packages/ui/src/backup/AuthError.tsx
  packages/ui/src/backup/Button.tsx
  packages/ui/src/backup/Skeleton.tsx
  packages/ui/src/backup/Spinner.tsx
  packages/ui/src/badge.tsx
  packages/ui/src/card.tsx
  packages/ui/src/dialog.tsx
  packages/ui/src/dropdown-menu.tsx
  packages/ui/src/empty-state.tsx
  packages/ui/src/index.ts
  packages/ui/src/input.tsx
  packages/ui/src/loading-animation.tsx
  packages/ui/src/lottie-animation.tsx
  packages/ui/src/success-celebration.tsx
  packages/ui/src/tabs.tsx
  packages/ui/src/tooltip.tsx
  scripts/railway-fix-triggers.js
  test-settings.html
Due: sdk, ui

chore(docker): selective COPY + expanded .dockerignore
  .dockerignore
  Dockerfile
  apps/developers/Dockerfile
  apps/key/Dockerfile
Due: none

feat(railway): reduce healthcheck timeout from 120s to 45s
  apps/developers/railway.toml
  apps/hub/railway.toml
  apps/key/railway.toml
Due: none

fix(docker): remove unnecessary node_modules/.bun copies from runner stages
  Dockerfile
  apps/developers/Dockerfile
  apps/key/Dockerfile
  package.json
  scripts/sdk-release.sh
  scripts/sync-sdk-versions.sh
Due: none

feat: SDK auto-sync README versions
  .beads/issues.jsonl
  .beads/sync-state.json
  .github/workflows/deploy.yml
  .github/workflows/enable-cdn.yml
  .github/workflows/sandbox.yml
  .github/workflows/sdk-publish.yml
  DEPLOYMENT_VERIFICATION.md
  Dockerfile
  apps/developers/public/screenshots/.gitkeep
  apps/developers/src/app/ecosystem/page.tsx
  apps/developers/src/app/page.tsx
  apps/developers/src/app/playground/page.tsx
  apps/key/package.json
  apps/key/src/app/auth/page.tsx
  apps/key/src/app/settings/page.tsx
  bun.lock
  docs/VERSION_COMPATIBILITY.md
  examples/nextjs-app/README.md
  packages/sdk-react/CHANGELOG.md
  packages/sdk-react/package.json
  packages/sdk-react/src/VillaButton.tsx
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/simple.ts
  packages/sdk/src/web2.ts
  packages/ui/src/Input.tsx
  packages/ui/src/glass.css
  scripts/fix-railway-autodeploy.sh
  scripts/railway-connect-repo.sh
  scripts/railway-deploy.sh
  scripts/utils/poll-health.sh
  scripts/verify-deployment.sh
  test-health-endpoints.sh
Due: sdk, ui

ci: add SDK version consistency check workflow
  .github/workflows/sdk-version-check.yml
Due: none

feat(docker): add BuildKit cache mounts for bun installs
  apps/developers/Dockerfile
  apps/key/Dockerfile
Due: none

bump: version to v0.3.0-beta.2
  .beads/issues.jsonl
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-preview.yml
  README.md
  apps/developers/src/app/page.tsx
  apps/developers/src/app/playground/page.tsx
  apps/key/src/app/auth/page.tsx
  bun.lock
  docs/DEVELOPMENT.md
  docs/PR_PREVIEW_ENVIRONMENTS.md
  docs/TEAM_PR_PREVIEW_SETUP.md
  package.json
  packages/sdk-react/package.json
  packages/sdk/examples/web2-api.md
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/simple.ts
  railway-preview.toml
  scripts/pr-preview-manage.sh
Due: sdk

fix: SDK type exports and auth subscription cleanup
  apps/developers/src/app/page.tsx
  packages/sdk/src/types.ts
Due: sdk

docs: add QA handoff for v0.3.0-beta.2 release
  QA_HANDOFF_v0.3.0-beta.2.md
Due: none

chore(beads): close villa-qzt beta 3 cleanup issue
  .beads/issues.jsonl
  .beads/sync-state.json
Due: none

fix(docs): populate build metadata in health endpoint
  apps/developers/Dockerfile
Due: none

fix(docs): populate build metadata in health endpoint (#79)
  apps/developers/Dockerfile
Due: none

fix(developers): add missing @monaco-editor/react dependency
  apps/developers/package.json
  bun.lock
Due: none

fix(developers): add missing @monaco-editor/react dependency (#80)
  apps/developers/package.json
  bun.lock
Due: none

deploy(api): add Railway deployment config for api.villa.cash
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/middleware/cors.ts
  apps/api/src/routes/health.ts
  apps/api/src/server.ts
  apps/api/tsconfig.json
  apps/key/next.config.js
  apps/key/src/app/api/health/route.ts
  apps/key/src/app/settings/page.tsx
  bun.lock
Due: api

deploy(key): v0.3.0-rc.1.1 health endpoint update
  apps/key/src/app/api/health/route.ts
Due: none

fix(api): remove Docker cache mounts for Railway compatibility
  apps/api/Dockerfile
Due: none

feat(hub): update health endpoint response format
  apps/hub/src/app/api/health/route.ts
Due: none

feat(hub): update health endpoint response format v0.3.0-rc.1.1 (#82)
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/middleware/cors.ts
  apps/api/src/routes/health.ts
  apps/api/src/server.ts
  apps/api/tsconfig.json
  apps/key/next.config.js
  apps/key/src/app/settings/page.tsx
  bun.lock
Due: api

fix(docker): remove cache mounts for Railway compatibility
  Dockerfile
Due: none

bump: version to v0.3.0-rc.1.1
  apps/hub/src/app/api/profile/[address]/route.ts
  packages/sdk-react/package.json
  packages/sdk/package.json
  packages/ui/src/index.ts
Due: ui

chore: sync beads after RC1.1 deployment
  .beads/issues.jsonl
Due: none

chore: clean LEARNINGS.md CI failure log entries
  .claude/LEARNINGS.md
Due: none

chore: update beads tracking
  .beads/issues.jsonl
Due: none

chore: final beads sync
  .beads/issues.jsonl
Due: none

chore: complete LEARNINGS.md CI failure log cleanup
  .beads/issues.jsonl
Due: none

chore: complete LEARNINGS.md CI failure log cleanup (#86)
  .beads/issues.jsonl
Due: none

chore: sync beads after RC1.1 cleanup tasks
  .beads/issues.jsonl
Due: none

chore: sync beads after RC1.1 cleanup tasks (#87)
  .beads/issues.jsonl
Due: none

fix(ui): add missing BottomSheet peer/dev dependencies
  bun.lock
  packages/ui/package.json
Due: none

fix(ui): add missing BottomSheet peer/dev dependencies (#85)
  bun.lock
  packages/ui/package.json
Due: none

Path conditions:
  web: any of: apps/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/.next/**, **/dist/**, **/node_modules/**, **/*.config.ts, **/*.config.js, **/playwright-report/**, **/coverage/**
  sdk: any of: packages/sdk/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/.next/**, **/dist/**, **/node_modules/**, **/*.config.ts, **/*.config.js, **/playwright-report/**, **/coverage/**
  ui: any of: packages/ui/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/.next/**, **/dist/**, **/node_modules/**, **/*.config.ts, **/*.config.js, **/playwright-report/**, **/coverage/**
  api: any of: apps/api/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/.next/**, **/dist/**, **/node_modules/**, **/*.config.ts, **/*.config.js, **/playwright-report/**, **/coverage/**
  contracts: any of: contracts/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/.next/**, **/dist/**, **/node_modules/**, **/*.config.ts, **/*.config.js, **/playwright-report/**, **/coverage/**
