Repository rockfridrich/villa: changes, and which Codecov flags are due for each by the changed paths.
All: web, sdk, ui, api, contracts

codecov.yml:

# Codecov configuration for Villa project
# Docs: https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

  precision: 2
  round: down
  range: 70...100

# Package-specific flags
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: 80%

flags:
  web:
    paths:
      - apps/web/src/
    carryforward: true

  sdk:
    paths:
      - packages/sdk/src/
    carryforward: true

  ui:
    paths:
      - packages/ui/src/
    carryforward: true

  api:
    paths:
      - apps/api/src/
    carryforward: true

  contracts:
    paths:
      - contracts/src/
    carryforward: true

# Pull request comments
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Ignore paths (generated code, test files, config)
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/.next/**"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/playwright-report/**"
  - "**/coverage/**"

feat(agents): add multi-platform agent coordination system
  .claude/BOOT.md
  .opencode/BOOT.md
  .opencode/llm-router.json
  .replit
  AGENTS.md
  AGENT_COORDINATION.md
  apps/developers/.replit
  apps/hub/.replit
  apps/key/.replit
  packages/sdk/.replit
Due: none

docs(opencode): add Villa ID revamp task spec
  .opencode/tasks/villa-id-revamp.md
Due: none

feat(key): add Porto remote bridge for self-hosted dialog
  apps/key/src/app/auth/page.tsx
  apps/key/src/lib/porto.ts
Due: none

feat(ui): add Dialog, PasskeyPrompt, Logo components with theme tokens
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/components/Logo.tsx
  packages/ui/src/components/PasskeyPrompt.tsx
  packages/ui/src/index.ts
  packages/ui/src/theme/colors.ts
Due: ui

feat(key): Porto-identical dialog dimensions (380x520px)
  apps/key/src/app/auth/page.tsx
Due: none

feat(developers): simplify landing page to essentials
  apps/developers/src/app/page.tsx
Due: none

feat(sdk): add getProfile and uploadAvatar methods
  packages/sdk/src/index.ts
  packages/sdk/src/simple.ts
Due: sdk

docs(opencode): add production release plan
  .opencode/tasks/production-release.md
Due: none

docs(opencode): complete production-ready execution plan
  .opencode/tasks/production-ready.md
Due: none

test: cleanup E2E - keep 33 fast smoke tests
  .beads/issues.jsonl
  .claude/LEARNINGS.md
  apps/hub/tests/e2e/auth-flows.spec.ts
  apps/hub/tests/e2e/developer-portal.spec.ts
  apps/hub/tests/e2e/funding.spec.ts
  apps/hub/tests/e2e/guestbook.spec.ts
  apps/hub/tests/e2e/integration.spec.ts
  apps/hub/tests/e2e/nickname-edit.spec.ts
  apps/hub/tests/e2e/onboarding.spec.ts
  apps/hub/tests/e2e/passkey-crossplatform.spec.ts
  apps/hub/tests/e2e/passkey-live.spec.ts
  apps/hub/tests/e2e/returning-user.spec.ts
  apps/hub/tests/e2e/sdk-bridge.spec.ts
  apps/hub/tests/e2e/sdk-iframe.spec.ts
  apps/hub/tests/e2e/sdk-live.spec.ts
Due: none

ci: add fast E2E smoke tests with Playwright cache
  .github/workflows/ci.yml
Due: none

feat: Villa ID Revamp - Porto-identical UX (#72)
  .beads/issues.jsonl
  .claude/LEARNINGS.md
  .github/workflows/ci.yml
  .opencode/tasks/production-ready.md
  .opencode/tasks/production-release.md
  apps/developers/src/app/page.tsx
  apps/hub/tests/e2e/auth-flows.spec.ts
  apps/hub/tests/e2e/developer-portal.spec.ts
  apps/hub/tests/e2e/funding.spec.ts
  apps/hub/tests/e2e/guestbook.spec.ts
  apps/hub/tests/e2e/integration.spec.ts
  apps/hub/tests/e2e/nickname-edit.spec.ts
  apps/hub/tests/e2e/onboarding.spec.ts
  apps/hub/tests/e2e/passkey-crossplatform.spec.ts
  apps/hub/tests/e2e/passkey-live.spec.ts
  apps/hub/tests/e2e/returning-user.spec.ts
  apps/hub/tests/e2e/sdk-bridge.spec.ts
  apps/hub/tests/e2e/sdk-iframe.spec.ts
  apps/hub/tests/e2e/sdk-live.spec.ts
  apps/key/src/app/auth/page.tsx
  apps/key/src/lib/porto.ts
  packages/sdk/src/index.ts
  packages/sdk/src/simple.ts
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/components/Logo.tsx
  packages/ui/src/components/PasskeyPrompt.tsx
  packages/ui/src/index.ts
  packages/ui/src/theme/colors.ts
Due: sdk, ui

fix(ci): always run bun install to ensure workspace symlinks
  .github/workflows/deploy.yml
Due: none

fix(ci): remove .turbo from cache, use --force for fresh builds
  .github/workflows/deploy.yml
Due: none

fix(ci): remove --parallel to respect turbo dependency order
  .github/workflows/deploy.yml
Due: none

docs(opencode): beta candidate QA feedback and fixes plan
  .opencode/tasks/beta-candidate-fixes.md
Due: none

docs(opencode): add settings popup UX and nickname ENS architecture
  .opencode/tasks/beta-candidate-fixes.md
Due: none

fix(sdk): Porto-identical popup size and passkey naming
  apps/developers/src/app/playground/page.tsx
  apps/key/src/lib/porto.ts
  packages/sdk/src/iframe/bridge.ts
Due: sdk

fix(key): prevent double passkey creation, 380x520 settings, Vietnam animals
  .beads/issues.jsonl
  .beads/sync-state.json
  apps/developers/src/components/Search.tsx
  apps/key/src/app/auth/page.tsx
  apps/key/src/app/settings/page.tsx
  apps/key/src/lib/nickname.ts
  apps/key/src/lib/porto.ts
Due: none

docs(opencode): add production deployment plan with Beads guide
  .beads/issues.jsonl
  .opencode/tasks/production-deploy.md
Due: none

fix(key): replace beta.villa.cash with construction.villa.cash
  .beads/issues.jsonl
  apps/key/src/app/auth/page.tsx
  apps/key/src/app/settings/page.tsx
Due: none

feat(sdk): v0.2.0 - optional appId with auto-derivation, add target config
  bun.lock
  packages/sdk-react/package.json
  packages/sdk-react/src/context.tsx
  packages/sdk/package.json
  packages/sdk/src/client.ts
  packages/sdk/src/config.ts
  packages/sdk/src/iframe/bridge.ts
  packages/sdk/src/iframe/types.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types.ts
Due: sdk

feat(ui): update docs and auth for SDK v0.2.0 zero-config
  apps/developers/src/app/playground/page.tsx
  apps/developers/src/app/sdk/page.tsx
  apps/key/src/app/auth/page.tsx
  apps/key/src/app/settings/page.tsx
Due: none

fix: Villa ID beta candidate + SDK v0.2.0 (#73)
  .beads/issues.jsonl
  .beads/sync-state.json
  .opencode/tasks/production-deploy.md
  apps/developers/src/app/playground/page.tsx
  apps/developers/src/app/sdk/page.tsx
  apps/developers/src/components/Search.tsx
  apps/key/src/app/auth/page.tsx
  apps/key/src/app/settings/page.tsx
  apps/key/src/lib/nickname.ts
  apps/key/src/lib/porto.ts
  bun.lock
  packages/sdk-react/package.json
  packages/sdk-react/src/context.tsx
  packages/sdk/package.json
  packages/sdk/src/client.ts
  packages/sdk/src/config.ts
  packages/sdk/src/iframe/bridge.ts
  packages/sdk/src/iframe/types.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types.ts
Due: sdk

fix(ci): use bun instead of pnpm for SDK publish workflow
  .beads/issues.jsonl
  .beads/sync-state.json
  .github/workflows/sdk-publish.yml
  .opencode/tasks/sdk-package-architecture.md
Due: none

docs(sdk): add OpenCode prompt for runtime config implementation
  .beads/issues.jsonl
  .opencode/tasks/runtime-config-prompt.md
Due: none

feat(sdk): add runtime config system
  apps/hub/public/.well-known/villa-config.json
  packages/sdk/src/config-loader.ts
  packages/sdk/src/config-schema.ts
  packages/sdk/src/iframe/bridge.ts
  packages/sdk/src/index.ts
  packages/sdk/src/simple.ts
Due: sdk

fix: move design agent to correct location
  .opencode/agents/design.md
Due: none

fix(ci): update validate-context job for removed RAG loader
  .github/workflows/ci.yml
Due: none

fix(sdk): make localhost detection independent of NODE_ENV
  packages/sdk/src/iframe/bridge.ts
Due: sdk

feat(opencode): add cost-optimized model routing configuration
  opencode.json
Due: none

fix(sdk): use correct API subdomain (api.villa.cash)
  apps/hub/public/.well-known/villa-config.json
  packages/sdk/src/config-loader.ts
Due: sdk

feat(agents): three-platform orchestration with Qwen/Gemini routing
  .opencode/AGENT_COSTS.md
  .opencode/THREE_PLATFORMS.md
  .opencode/llm-router.json
  .opencode/tasks/test-cleanup-prompt.md
  opencode.json
Due: none

fix(agents): update opencode.json models - Qwen/Gemini/Grok
  opencode.json
Due: none

docs: add production deploy prompt for OpenCode
  .opencode/tasks/production-deploy-prompt.md
Due: none

chore: align all package versions to 0.2.0
  apps/api/package.json
  apps/developers/package.json
  apps/hub/package.json
  apps/key/package.json
  apps/relay/package.json
  apps/telemetry/package.json
  bun.lock
  contracts/package.json
  package.json
  packages/config/package.json
  packages/ui/package.json
Due: none

feat(sdk): popup fixes - Vietnam animals, settings routing, frosted glass
  apps/key/src/app/settings/page.tsx
  packages/sdk/src/iframe/bridge.ts
  packages/sdk/src/nickname-generator.ts
  packages/sdk/src/simple.ts
Due: sdk

chore: consolidate agents, fix permissions, standardize bun
  .beads/issues.jsonl
  .beads/sync-state.json
  .claude/CLAUDE.md
  .opencode/AGENT_COSTS.md
  .opencode/BOOT.md
  .opencode/agents/INDEX.md
  .opencode/agents/architect.md
  .opencode/agents/build.md
  .opencode/agents/cloudflare.md
  .opencode/agents/deploy.md
  .opencode/agents/docs.md
  .opencode/agents/explore.md
  .opencode/agents/fix.md
  .opencode/agents/identity.md
  .opencode/agents/ops.md
  .opencode/agents/railway.md
  .opencode/agents/reflect.md
  .opencode/agents/review.md
  .opencode/agents/session.md
  .opencode/agents/spec.md
  .opencode/agents/tasks.md
  .opencode/agents/test.md
  .opencode/agents/ultrathink.md
  .opencode/llm-router.json
  .opencode/package.json
  .opencode/prompts/sdk-popup-fixes.md
  apps/hub/package.json
  opencode.json
Due: none

ci: enhance Playwright cache and smoke test job
  .github/workflows/ci.yml
Due: none

docs(sdk): Update SDK documentation to use 'target' instead of 'network'
  apps/developers/src/app/sdk/page.tsx
Due: none
